{% extends "template.html" %}

{% block conteudo %}

  <form action="{{ url_for('atualizarservico') }}" method="post">
    <fieldset>
      <input type="hidden" name="id" value="{{ servico.servico_id }}">
      <div class="form-group">
        <label for="novo_servico"> Cadastrar Novo serviço</label>
        <input type="text" id="servico_nome" name="servico_nome" class="form-control" value="{{  servico.servico_nome }}">
      </div>
      <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
  </form>

{% endblock%}