{% extends "template.html" %}

{% block conteudo %}
        <table class="table table-striped table-responsive-bordered">
            <tr>
                <th>Funcionário</th>
                <th>Departamento</th>
                <th>E-Mail</th>
                <th>Login</th>
                <th>Senha</th>
            </tr>
            <tbody>

                {% for cadaNovoFuncionario in func %}
                <tr>
                    <td>{{ cadaNovoFuncionario.funcionario_nome }}</td>
                    <td>{{ cadaNovoFuncionario.funcionario_cargo }}</td>
                    <td>{{ cadaNovoFuncionario.funcionario_email }}</td>
                    <td>{{ cadaNovoFuncionario.funcionario_login }}</td>
                    <td>{{ cadaNovoFuncionario.funcionario_senha  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock%}
