{% extends "template.html" %}

{% block conteudo %}
  <form action="/cadastrarnovofuncionario" method="post">
    <fieldset>
      <div class="form-group">
        <label for="novo_funcionario"> Funcionário</label>
        <input type="text" id="novo_funcionario" name="novo_funcionario" class="form-control">
      </div>
      <div class="form-group">
        <label for="novoFuncionarioDepartamento">Departamento</label>
        <input type="text" id="novoFuncionarioDepartamento" name="novoFuncionarioDepartamento" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">Cargo</label>
        <input type="text" id="funcionarioCargo" name="funcionarioCargo" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">E-Mail</label>
        <input type="text" id="funcionarioEmail" name="funcionarioEmail" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">Login</label>
        <input type="text" id="funcionarioLogin" name="funcionarioLogin" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">Senha</label>
        <input type="text" id="funcionarioSenha" name="funcionarioSenha" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
  </form>
{% endblock%}