{% extends "template.html" %}

{% block conteudo %}
  <form action="{{ url_for('criarnovofuncionario') }}" method="post" enctype="multipart/form-data">
    <fieldset>
      <div class="form-group">
        <label for="nome_funcionario">Nome Funcionário</label>
        <input type="text" id="nome_funcionario" name="nome_funcionario" class="form-control">
      </div>
      <div class="form-group">
        <label for="novoCargo">Cargo</label>
        <input type="text" id="novoCargo" name="novoCargo" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">E-Mail</label>
        <input type="text" id="funcionarioEmail" name="funcionarioEmail" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">Login</label>
        <input type="text" id="funcionarioLogin" name="funcionarioLogin" class="form-control">
      </div>

      <div class="form-group">
        <label for="novoFuncionarioDepartamento">Senha</label>
        <input type="text" id="funcionarioSenha" name="funcionarioSenha" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
  </form>
{% endblock%}