{% extends "template.html" %}

{% block conteudo %}
        <table class="table table-striped table-responsive-bordered">
            <tr>
                <th>Sala</th>
            </tr>
            <tbody>
            <!--- para cada setor na lista de setores, escreve o setor -->
                {% for setor in lista_setores %}
                <tr>
                    <td>{{ setor.setor_nome }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock%}